@tailwind base;
@tailwind components;
@tailwind utilities;

.max-container {
  max-width: 1440px;
}

.btn-hover {
  position: relative;
  color: #333;
  font-weight: 600;
  text-decoration: none;
}
.btn-hover:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 3px;
  width: 0;
  background: #4070f4;
  border-radius: 50px;
  transition: width 0.3s ease;
}

.btn-hover:hover:before {
  width: 100%;
}

.pill.high{
  @apply bg-red-300 text-red-600;
}
.pill.low{
  @apply bg-emerald-300 text-emerald-600;
}
.pill.medium{
  @apply bg-yellow-300 text-yellow-600;
}